// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

// Colores bandera
$blanco: white;
$verde: green;
$rojo: red;

//fuentes
$fuente: 'Bebas Neue', sans-serif;
