// =============================================================================
// _responsive.scss : Viewports
// MIT License
// =============================================================================

// =============================================================================
// _responsive.scss settings
// =============================================================================

$movil: 425px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;
$personalizado: 1300px;

@mixin movil {
  @media only screen and (max-width: $movil) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large) {
    @content;
  }
}

@mixin personalizado {
  @media only screen and (max-width: $personalizado) {
    @content;
  }
}