footer {
  background-color: whitesmoke;
  opacity: 90%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  div {
    ul {
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
          width: 20%;
          text-align: center;
        a {
          text-decoration: none;
          font-family: $fuente;
          color: black;

          &:hover {
            font-size: 20px;
            -webkit-transition: width 0.2s;
            transition: 0.2s;
            color: black;
          }
          img {
            height: 20px;

            &:hover{
                height:30px;
                -webkit-transition: width 0.2s;
            transition: 0.2s;
            }
          }
        }
      }
    }
  }
}
